.github/**
.vscode/**
docs/**
out/**/*.js.map
src/**

# Ignore all webview-ui files except the build directory
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/tsconfig.json
webview-ui/.gitignore

eslint.config.mjs
package.json
package-lock.json
tsconfig.json
*.vsix
